<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css"
    />
    <title>About Page</title>
</head>
<body class="bg-white">
    <%- include('layouts/header'); -%>
    <%- include('layouts/footer'); -%>

    <p class="text-gray-600 text-lg font-Poppins text-center lg:text-left mb-8">
      <span class="text-gray-700">MedicSys</span> is a health information system that provides a comprehensive solution for managing patient data, appointments, and medical records. It is designed to streamline healthcare processes and improve patient care.</p>

   <script src="/js/scripts.js"></script>
</body>
</html>
